*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}

html, body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

.loader{
    width:100%;
    height: 100vh;
    background-color: #ff004f;
    position:fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;

}

.loader h1{
    font-size: 30px;

    
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(nav\ img.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    
}

#navbar{
    width: 100%;
    
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

nav li{
    display: inline-block;
    margin: 0 30px;
    list-style: none;
}

nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    position: relative;
}

nav li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav li a:hover::after{
    width: 100%;

}

.center-part{
    margin-top:8%;
    font-size: 20px;
}

.center-part h1{
    font-size: 60px;
    font-weight: 900;

}

.center-part #name{
    color: #ff004f;
}

#About{
    width: 100%;
    height: 100vh;
    padding: 30px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row .column-1{
    flex-basis: 35%;
}

.column-1 img{
    width: 100%;
    border-radius: 60px;
}

.row .column-2{
    flex-basis: 60%;
    margin-top: 110px;
}

.row .column-2 h1{
    font-size: 60px;
    font-weight: 700;
}

.tab-titles{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    
}

.tab-links{
    font-size: 18px;
    font-weight: 500;
    position: relative;
    cursor: pointer;

}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -9px;
}
.tab-links.active-link::after{
    width: 50%;
}


.tab-contents{
    margin-top: 50px;
}


.tab-contents{
    
    padding: 10px 0;
    margin-right: 20px;
}

.logo{
    width: 100px;
    height: 100px;
    margin-right: 25px;
    
}
.tab-contents img:hover{
    transform: translateY(-10px);
}

.tab-contents ul li{
        list-style: none;
    
}
.tab-contents ul li span{
    color: #ff004f;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.services{
    width: 100%;
    height: 100vh;
}

.services h1{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    
}

.service-cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 40px 40px;
}

.cards{
    width: 250px;
    height: 280x;
    border-radius: 20px;
    padding: 20px 10px;
    background: #262626;
    transition: background 0.5s, transform 0.5s;
}

.cards i, h2{
    font-size: 40px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.cards p{
    font-size: 18px;
    margin-bottom: 10px;
}

.cards a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin-top: 15px;
}

.cards:hover{
    background-color: #ff004f;
    transform: translateY(-10px);
}

/* work section */

.work{
    padding: 50px 0;
}

.work h1{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 70px;
}

.work-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.lists{
    width: 250px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
   

}

.lists img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: transform 0.5s;
    
}

.lists:hover img{
    transform: scale(1.1);
    border-radius: 20px;
}

.lists .layers{
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    width: 100%;
    height: 0;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
    transition: height 0.5s;
 
}

.lists:hover .layers{
    height: 100%;
}

.layers h3{
    font-size: 30px;
    /* padding: 0 10px; */
    font-weight: 550;
}

.layers p{
    font-size: 14px;
    padding: 10px 10px;
    margin-bottom: 15px;
}

.layers a{
    font-size: 16px;
    padding: 10px;
    background-color: #fff;
    color: #ff004f;
    border-radius: 50%;
    text-decoration: none;
    transition: transform 0.5sS;
    
    
}
.layers a:hover{
    background-color: #ff004f;
    color: #fff;
    transform: scale(1.1);
}


/* work section ends  */

/* contact section */

.contact{
    padding: 50px 0;
}


.contact h1{
    font-size: 60px;
    /* text-align: center; */
    margin-bottom: 50px;
    margin-left: 10px;

}

.contact-left{
    flex-basis: 35%;
    
}

.contact-left p{
    margin-top: 20px;
    font-size: 18px;
    padding: 0 10px;
}

.contact-left p i{
    color: #ff004f;
}

.social-icon{
    margin-top: 20px;
    margin-left: 10px;
    
}

.social-icon a{
    font-size: 25px;
    padding: 0 5px;
    text-decoration: none;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
    margin-bottom: 30px;
}

.social-icon a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn{
    border: 1px solid black;
    padding: 10px 25px;
    background-color: #ff004f;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    font-weight: 500;
    font-size: large;
}
.contact-left a{
    text-decoration: none;
}

.btn:hover{
    background-color: #262626;
    color: #ff004f;
}


.contact-right{
    flex-basis: 60%;
    
}

form input, form textarea{
    width: 100%;
    background-color: #262626;
    color: #fff;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    border: 0;

}
